# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================

venv/

# ==============================
# Environment Variables
# ==============================

.env

# ==============================
# Database
# ==============================

db.sqlite3
*.sqlite3

# ==============================
# Uploaded Media
# ==============================

media/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS Files
# ==============================

Thumbs.db
.DS_Store

# ==============================
# Python Cache
# ==============================

.pytest_cache/
.mypy_cache/

# ==============================
# Build Files
# ==============================

build/
dist/
*.egg-info/

# ==============================
# Logs
# ==============================

*.log